h2.titulo {
    font-family: 'Gelasio', serif;
    text-align: center;
    margin: 2rem 0;
}

article > p {
    font-family: 'Ibarra Real Nova', serif;
    text-align: justify;
    font-size: 25px;
}

table {
    width: 40%;
    font-size: 1.5rem;
    background: rgb(9,86,121);
    background: linear-gradient(138deg, rgba(9,86,121,1) 0%, rgba(36,121,161,1) 47%, rgba(102,191,231,1) 100%);
}

table tr {
    text-align: center;
}