nav {
    background-color: #f39c12;
}

nav > .brand {
    color: white;
}

.brand2 {
    color: white;
}

sub {
    color: black;
}

ul {
    margin-top: .5em;
    padding: 0;
}

ul > li {
    list-style: none;
    display: inline;
    padding-right: .5em;
}

ul > li > img {
    display: inline;
    width: 1em;
}