<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand brand" routerLink="general">
      <h3>Lic. Mario Villela Larraza</h3>
      <sub>
        Desarrollador Front End Angular
      </sub>
      <ul>
        <li>
          <img src="https://cdn.iconscout.com/icon/free/png-256/javascript-14-436639.png" alt="" srcset="">
        </li>
        <li>
          <img src="https://cdn.iconscout.com/icon/free/png-256/angular-5-457929.png" alt="" srcset="">
        </li>
        <li>
          <img src="https://icons-for-free.com/iconfiles/png/128/bootstrap-1321215613501527447.png" alt="" srcset="">
        </li>
        <li>
          <img src="https://www.shareicon.net/data/256x256/2016/06/19/603784_nodejs_512x512.png" alt="" srcset="">
        </li>
        <li>
          <img src="https://www.shareicon.net/data/256x256/2016/06/19/603770_db_512x512.png" alt="" srcset="">
        </li>
        <li>
          <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/thanpolas/images/896934/github-9-256.png" alt="" srcset="">
        </li>
      </ul>

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link brand2" routerLinkActive="active" routerLink="general">Generales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link brand2" routerLinkActive="active" routerLink="experiencia">Experiencia Laboral</a>
        </li>
        <li class="nav-item">
          <a class="nav-link brand2" routerLinkActive="active" routerLink="portafolio">Portafolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link brand2" routerLinkActive="active" routerLink="contacto">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>